@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=EB+Garamond&family=Kaushan+Script&family=Libre+Baskerville:ital@0;1&family=Montserrat&family=Pacifico&family=Poppins:wght@300&family=Raleway:wght@200&family=Roboto+Slab:wght@500&family=Tenor+Sans&display=swap");
body{
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-heading {
  font-family: "Roboto Slab", serif;
  display: flex;
  text-align: center;
}
.hero-title {
  font-family: "EB Garamond", serif;
  display: flex;
  text-align: center;
  width: fit-content;
}
.nav {
  border-bottom: 1px solid black;
  background-color:  rgba(60, 90, 90, .2);
}
.contents{
  /* border:2px solid blue; */
  height:80.5vh;
  margin-left:4rem;
  /* display:flex;
  flex-direction:column;
  justify-contents:center; */
}
.contents h3 {
  font-family: "Roboto Slab", serif;
}

.contents p {
  font-family: "Roboto Slab", serif;
}
.contents .acts {
  font-size: 4rem;
}

@media (max-width: 960px) {
  .contents{
    align-items:center;
    margin-left:0rem;
  }
  .contents span{
    flex-direction:column;
    align-items:center;
  }
  .contents h3,p{
    text-align:center;
  }
}

@media (max-width: 626px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
  .hero-title {
    margin: auto;
  }
  .nav img{
    width:100px;
    height:80px;
  }
}

@media (max-width:850px){
  .menu{
    display: none !important;
  }
  .ham{
    visibility: visible !important;
  }
}

.menu{
  /* border:1px solid red; */
  height:2rem;
  margin-bottom:0;
  background-color:  rgba(60, 90, 90, .1);
  list-style:none;
  display:flex;
  justify-content:space-around;
  border-bottom:1px solid black;
}

.ham{
  display:flex;
  flex-direction:column;
  gap:.5rem;
  position:absolute;
  /* position:flex-start; */
  margin:1rem;
  visibility:hidden;
  /* display:none;  */
}
.ham span{
  border:1.5px solid black;
  width:2rem;
  /* height:5r; */
  display:block;
}

.overlay {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}